*{
    padding: 0;
    margin: 0;
}

.navegacao{
    background-color: rgb(0, 0, 0);
    width: 300px;
    text-align: left;
    margin: 0;
    height: 100vh;
    position: fixed;
}

.logo{
    margin-bottom: 40px;
    text-align: center;
    color: whitesmoke;
    margin-top:0;
    margin-left: 0;
    padding-top: 25px;
}

.logo img{
    width: 175px;
}

.principal{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    padding-left: 30px;
    border-bottom: solid 1px;
    border-color: whitesmoke;
    padding-bottom: 12px;
    
}

.principal a{
   text-decoration: none;
   margin-bottom: 15px;
   color: rgb(192, 190, 190);
}

.principal a:hover{
    color: white;
}

body{
    display: flex;
    flex-direction: row;
}

.content{
    color: whitesmoke;
    background-image: linear-gradient( to bottom,rgb(38, 38, 38), rgb(20, 20, 20), rgb(8, 8, 8) );
    width: 200vh;
    margin-left: 300px;
}

.container{
    margin-top: 35px;
    margin-left: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-content: space-around;
}

.playlist a{
    color: whitesmoke;
    text-decoration: none;
    padding-right: 50px;
}

.preview{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    opacity: 0.5;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    border-style: none;
}

.next{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    opacity: 0.5;
    font-size: 30px;
    cursor: pointer;
    border-style: none;
}

.left{
    padding-left:20px;
    display: flex;
}

.right{
    margin-left: 110vh;
    display: flex;
    margin-top: 4px;
}

.upgrade{
    background-color:rgb(38, 38, 38);
    color: whitesmoke;
    padding: 5px;
    border-radius: 200px;
    font-size: 17px;
    width: 150px;
    height: 37px;
    cursor: pointer;
    border-color: whitesmoke;
}

.perfil{
    background-color:rgb(8, 8, 8);
    color: whitesmoke;
    border-radius: 200px;
    font-size: 17px;
    width: 150px;
    height: 38px;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    border-style: none;
}

.perfil h4{
    margin-left: 7px;
    padding-top: 9px;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 200px;
    margin: 0;
    padding-top: 4px;
    padding-left: 3px;
}

.menu{
    display: flex;
    padding-top: 20px;  
    width: 160vh;
}

.playlist{
    padding: 20px;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(20, 20, 20);
    align-items: center;
    margin: 15px;
    width: 190px;
    height: 280px;
    background-color: rgb(20, 20, 20);
}

.playlist img{
    width: 190px;
    border-radius: 5%;
    box-shadow: 40px;
}

.playlist h2{
    font-size: 17px;
    padding-top: 10px;
}

.playlist h3{
    padding-top: 10px;
    font-size: 13px;
}

.card :hover{
    background-color:rgb(38, 38, 38) ;
    cursor: pointer;
}

.container h1{
    font-size: 30px;
    padding-top: 30px;
}

footer .bar{
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    position: fixed;
    display: flex;
    flex-direction: row;
}

