*{
    padding: 0;
    margin: 0;
}

.navegacao{
    background-color: rgb(0, 0, 0);
    width: 300px;
    text-align: left;
    margin: 0;
    height: 100vh;
    position: fixed;
    overflow: -moz-hidden-unscrollable;
}

.logo{
    margin-bottom: 40px;
    text-align: left;
    color: whitesmoke;
    margin-top:0;
    margin-left: 20px;
    padding-top: 25px;
}

.logo img{
    width: 175px;
}

.principal{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.pline{
    margin-right: 25px;
    width: 250px;
    margin-left: -10px;
    height: 0.1px;
    opacity: 0.1;
}

.principal a{
   text-decoration: none;
   margin-bottom: 15px;
   color: whitesmoke;
}

.principal a:hover{
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
}

.home{
    display: flex;
    flex-direction: row;
}

.content{
    color: whitesmoke;
    background-image: linear-gradient( to bottom,rgb(38, 38, 38), rgb(20, 20, 20), rgb(8, 8, 8) );
    width: 175vh;
    margin-left: 300px;
}

.container{
    margin-top: 120px;
    margin-left: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-content: space-around;
}

.playlist a{
    color: whitesmoke;
    text-decoration: none;
    padding-right: 50px;
}

.preview{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    opacity: 0.5;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    border-style: none;
}

.next{
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    opacity: 0.5;
    font-size: 30px;
    cursor: pointer;
    border-style: none;
}

.left{
    padding-left:20px;
    display: flex;
}

.right{
    margin-left: 110vh;
    display: flex;
    margin-top: 4px;
}

.upgrade{
    background-color:rgb(38, 38, 38);
    color: whitesmoke;
    padding: 5px;
    border-radius: 200px;
    font-size: 17px;
    width: 150px;
    height: 37px;
    cursor: pointer;
    border-color: whitesmoke;
}

.right .upgrade:hover{
    transform: scale(1.05);
    font-weight: bold;
}

.right .perfil:hover{
    background-color: rgb(44, 44, 44);
}

.perfil{
    background-color:rgb(8, 8, 8);
    color: whitesmoke;
    border-radius: 200px;
    font-size: 17px;
    width: 150px;
    height: 38px;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    border-style: none;
    opacity: 0.8;
}

.perfil h4{
    margin-left: 7px;
    padding-top: 9px;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 200px;
    margin: 0;
    padding-top: 4px;
    padding-left: 3px;
}

.menu{
    display: flex;
    padding-top: 20px;  
    width: 160vh;
    position: fixed;
}

.playlist{
    padding: 20px;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(20, 20, 20);
    align-items: center;
    margin: 15px;
    width: 190px;
    height: 280px;
    background-color: rgb(20, 20, 20);
}

.playlist img{
    width: 190px;
    border-radius: 5%;
    box-shadow: 40px;
}

.playlist h2{
    font-size: 17px;
    padding-top: 10px;
}

.playlist h3{
    padding-top: 10px;
    font-size: 13px;
}

.card :hover{
    background-color:rgb(38, 38, 38) ;
    cursor: pointer;
}

.container h1{
    font-size: 30px;
    padding-top: 30px;
    width: max-content;
}

.container h1:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    margin-top: 84vh;
    padding-bottom: 5px;
    height: 135px;
}

footer .bar img{
    width: 100px;
    padding: 20px;
}

footer .bar .music{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.details .h3{
    font-weight: bold;
}

.details .p{
    padding-top: 5px;
    color: rgb(130, 130, 130);
}

.details a{
    padding-top: 43px;
    display: flex;
    color: whitesmoke;
    text-decoration: none;
}

.details :hover{
    text-decoration: underline;
    color: whitesmoke;
}

.cline{
    margin-top: 90px;
    opacity: 0.1;
    margin-bottom: 255px;
    margin-right: 30px;
}

.musicas{
    color: rgb(141, 141, 141);
    padding-left: 30px;
    text-align: left;
    cursor: pointer;
}

.musicas ul{
    list-style:none;
    overflow-y: scroll;
    height: 250px;
}

.musicas ul li{
    font-size: 20px;
    margin-bottom: 7px;
}

.musicas ul li:hover{
    font-weight: bold;
}

.install img{
    width: 25px;
    border: solid;
    border-color: whitesmoke;
    border-radius: 50%;
}

.install{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin-top: 6px;
}

.install a{
    padding-left: 20px;
    padding-top: 5px;
    color: whitesmoke;
    text-decoration: none;
}

.install a:hover{
    font-weight: bold;
}

footer .controls{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

footer .controls p{
    color: whitesmoke;
}

footer .bar{
    display: flex;
    flex-direction: row;
}

footer .controls .barrinha{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

footer .controls .barrinha .under{
    width: 650px;
    height: 5px;
    margin-left: 20px;
    margin-right: 15px;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
}

footer .controls .barrinha .above{
    width: 275px;
    height: 5px;
    background-color: whitesmoke;
    margin-left: 55px;
    position: absolute;
    border-radius: 20px;
}

footer .controls .comandos .random img{
    width: 27px;
    margin-bottom: 10px;
}

footer .controls .comandos .voltar img{
    width: 23px;
    margin-left: 5px;
    margin-bottom: 10px;
}


footer .controls .comandos .pausar img{
    margin-left: 5px;
    width: 50px;
    animation: play ;
}

footer .controls .comandos .avancar img{
    width: 21px;
    margin-left: 5px;
    margin-bottom: 10px;
}

footer .controls .comandos .repetir img{
    width: 30px;
    margin-bottom: 5px;
}

footer .controls .comandos{
    margin-left: 165px;
}

footer .controls .comandos a{
    text-decoration: none;
}

footer .controls .comandos a :hover{
    transform: scale(1.2);
}